<header class="header">
  <div class="container">
    <div class="wrapper">
      <div class="head__content">
        <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger data-menu>
          <span class="burger__line"></span>
        </button>
        <div class="head__title">
          <img src="/img/svg/title__L.svg" alt="#" class="img__head-title">
          <img src="/img/svg/title__Y.svg" alt="#" class="img__head-title">
          <img src="/img/svg/title__N.svg" alt="#" class="img__head-title">
          <img src="/img/svg/title__Q.svg" alt="#" class="img__head-title">
        </div>
        <img src="/img/face.png" alt="" class="head__face">
      </div>
    </div>
    <div class="content__info">
      <div class="content__info-title">Laurent Bury</div>
      <button class="content__info-btn">
        <a href="#">Lynq's co-founder</a>
      </button>
      <div class="content__info-subtitle-2">Help influencers with business 🚀 <br> Data</div>
      <div class="content__info-social-media">
        <div class="circle__1"></div>
        <div class="face__book">
          <a href="https://www.facebook.com/">
            <img src="/img/svg/face__book.svg" alt="">
          </a>
        </div>
        <div class="circle__2"></div>
        <div class="twiter">
          <a href="https://twitter.com/?lang=uk">
            <img src="/img/svg/twiter.svg" alt="">
          </a>
        </div>
        <div class="sales__proceed">Sales proceed</div>
      </div>
      <div class="save__childrens">
        <img class="save__childrens-heart" src="/img/svg/heart.svg" alt="">
        <span>Save the Children</span>
      </div>
    </div>
    <section class="info__webinar">
      <div class="next__webinars">Next webinars</div>
      <div class="master__class">MasterClass</div>
      <div class="platform__tour">Platform Tour</div>
      <div class="webinar__data">
        <img src="/img/svg/calendar_today_black_24dp 1.svg" alt="#">
        <span>Jan 05, 2022</span>
        <img src="/img/svg/schedule_black_24dp 1.svg" alt="#">
        <span>01:00 AM</span>
      </div>
      <button class="book__now">
        <a href="#">Book now</a>
      </button>
    </section>
    <section class="exclusive__content">
      <div class="exclusive__content-title">Exclusive content</div>
      <div class="exclusive__content-info">
        <img src="/img/Rectangle 4.png" alt="#">
        <button class="exclusive__content-btn">
          <a href="#">Buy now for $10</a>
        </button>
        <span>12:05</span>
      </div>
    </section>
    <section class="book__now-carusell">
      <div class="video__call">Book a 1:1 video call</div>

      <div class="slider">
        <div class="square-carusell">
          <p class="minutes">30 minute</p>
          <p class="session">session</p>
        </div>
        <div class="square-carusell">
          <p class="minutes">60 minute</p>
          <p class="session">session</p>
        </div>
        <div class="square-carusell">
          <p class="minutes">90 minute</p>
          <p class="session">session</p>
        </div>
      </div>
      <button class="book__now">
        <a href="#">Book now</a>
      </button>
    </section>
    <section class="Personalized__video-question">
      <div class="Personalized__video">Personalized video</div>
      <textarea placeholder="Enter your question" class="question" name="text"></textarea>
      <button class="Request__video-btn">
        <a class="Request__video">Request video</a>
      </button>
    </section>
    <section class="External__links">
      <div class="External__links-title">Externali links</div>
      <div class="youtube__channel">
        <a href="#">Youtube channel</a>
      </div>
      <div class="Latests__projects">
        <a href="#">Latests projects</a>
      </div>
      <div class="footer__title">
        <p class="made__with">Made with</p>
        <img src="/img/svg/title__L.svg" alt="#" class="img__head-title">
        <img src="/img/svg/title__Y.svg" alt="#" class="img__head-title">
        <img src="/img/svg/title__N.svg" alt="#" class="img__head-title">
        <img src="/img/svg/title__Q.svg" alt="#" class="img__head-title">
      </div>

    </section>



  </div>
</header>
